[uwsgi]
chdir = .
module = deploy
callable = application
master = True
processes = 1
threads = 1
pidfile = ./app-master.pid
vacuum = True
max-requests = 5000
py-autoreload = 1
env = LANG=en_US.UTF-8
enable-threads = true
socket = 127.0.0.1:8000
buffer-size = 32768
listen = 1024
stats = 127.0.0.1:1717
;daemonize=./logs/uwsgi.log
